.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    padding-top: 2rem;
    padding-bottom: 1.75rem;
    box-shadow: var(--box-shadow);
}

.theme-mode {
    display: flex;
    column-gap: 0.75rem;
    font-size: 0.75rem;
}

.theme-mode > img {
    width: 0.75rem;
    padding-bottom: 0.25rem;
}

.title {
    font-weight: 800;
    font-size: 0.87rem;
}