.wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 90em) { /* 1440px */
    .wrapper > * {
        max-width: 80em;
        margin-left: auto;
        margin-right: auto;
    }
}