.card {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding-bottom: 1rem;
    margin-bottom: 2.25rem;
}

.flag {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.spec-container {
    padding: 1.5rem;
}

.title {
    font-weight: 600;
    font-size: 1.15rem;
    margin-bottom: 0.9rem;
}

.spec {
    display: flex;
    column-gap: 0.375rem;
    margin-bottom: 0.25rem;
}

.spec > dt{
    font-size: 0.85rem;
    font-weight: 600;
}

.spec > dd {
    font-size: 0.85rem;
    font-weight: 300;
}