.container {
    margin: 2rem 2.5rem 3rem;
}

@media (min-width: 40em) { /* 640px */
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        /* flex-start preventing height stretch*/
        align-items: flex-start;
        
        column-gap: 2em;
        row-gap: 2em;
        margin-left: 0;
        margin-right: 0;

    }
}

@media (min-width: 64em) { /* 1024px */
    .container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2em;
        row-gap: 2em;
    }
}

@media (min-width: 90em) { /* 1440px */
    .container {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 4.75em;
        row-gap: 4.75em;
        margin-top: 3rem;
    }
}