
/* 

    Inspired by Stephanie Eckles
    https://moderncss.dev/custom-select-styles-with-pure-css/
*/

.region {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    width:12.5rem;
    max-width: 100%;
    margin-top: 2.375rem;
    border-radius: var(--border-radius);
}

@media (min-width: 40em) { /* 640px */
    .region {
       margin-top: 0; 
    }
}

/* dark mode */

body[data-theme="theme-dark"] .region {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

