.container a{
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
    padding: 0.25rem;
    width: 6.5rem;
}

.container svg {
    width: 1rem;
}

.container span {
    color: var(--color-dark-gray)
}

@media (min-width: 90em) { /* 1440px */
    .container a{
       width: 8.5rem;
       padding: 0.5rem;
       column-gap: 0.75rem;
       border-radius: var(--border-radius);
    }

    .container span {
        color: #222;
    }
}