
.select-container {
  display: inline-block;
  width: 100%;
  position: relative;
  background-color: inherit;
  font-size: 0.75rem;
}

.text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem 1rem 1.5rem;
  cursor: pointer;
}

.arrow {
  width: 0.8em;
  height: 0.7em;
  background-color: #000;
  clip-path: polygon(80% 50%, 50% 10%, 20% 50%, 10% 50%, 50% 0, 90% 50%);
}

.arrow.active {
  clip-path: polygon(80% 50%, 50% 90%, 20% 50%, 10% 50%, 50% 100%, 90% 50%);
}

.text-container  > svg {
  width: 0.9rem;
  color: var(--color-dark-gray);
}

.text-container > svg.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

  .select-options {
    width: 100%;
    position: absolute;
    background-color: inherit;
    border-radius: var(--border-radius);
    margin-top: 0.25rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  
  .select-option {
    padding: 0rem 1.5rem 0.3755rem 1.5rem;
    background-color: inherit;
    cursor: pointer;
  }
  
@media (min-width: 40em) { /* 640px */
  .select-container {
     font-size: 0.9rem;
  }
}


/* dark mode */

body[data-theme="theme-dark"] .arrow{
  background-color: var(--color-white);
}
